.overall-container {
    margin: 1rem 4rem;
}

.dog-container {
	display: flex;
	justify-content: center;
	margin: 3rem 0 2rem;
}

.dog-container img {
	width: 20%;
}

.subtitle {
	margin-bottom: 2rem;
	text-align: center
}